/* .bg1-img{
    height: 25%;
} */
.bg1 {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h1 {
    font-size: 32px;
  }
  
  .text-overlay p {
    font-size: 18px;
  }
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 5%;
  }
  